*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Variáveis de font-size, font-family, color e back-color */

:root{
    /* colors */

    --back-color-default: #151515;
    --secondary-color-gold: #DBC96C;
    --text-color: #ffffff;
    --back-card-color: #212121;

    /* fonts */

    --title-page-dm-serif: 'DM Serif Display', serif;
    --subtitle-page-dm-serif: 'DM Serif Display', serif;
    --menu-item-dm-serif:'DM Serif Display', serif;
    --title-section-montserrat: 'Montserrat', sans-serif;
    --title-article-montserrat: 'Montserrat', sans-serif;
    --subtitle-page-montserrat: 'Montserrat', sans-serif;
    --menu-item-montserrat: 'Montserrat', sans-serif;
    --content-article-montserrat:'Montserrat', sans-serif;
    --content-menu-montserrat: 'Montserrat', sans-serif;
}

/* DEFAULT STYLE */

body{
    background-color: var(--back-color-default);
}
button{
    background: none;
    border: none;
}

/* MENU */

nav#nav-general{
    width: 0;
    height: 0;

    transition: 1s all;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav#nav-general .header-nav-menu{
    padding-block: 2rem;
}
nav#nav-general .content-menu{
    display: flex;
    flex-direction: column;

}
nav#nav-general .content-menu a{
    background-color: var(--back-card-color);
    color: var(--text-color);

    text-decoration: none;
    font-family: var(--content-menu-montserrat);
    font-size: 32px;
    font-weight: 300;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;

    border-radius: 30px;

    margin-bottom: 1.5rem;
    width: 85vw;
    height: 150px;

    /* transition: 1s all; */
}

/* HEADER STYLE */

header#header-page{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    transition: 0.7s all;
}
header#header-page #logo-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header#header-page #logo-header .quadrado-de-fundo{
    transform: rotate(135deg);
    background: linear-gradient(225deg, #ffaa00b0, #ffffff10, #151515);
    width: 150px;
    height: 150px;
    margin-top: -100px;

    z-index: -1;

    border-radius: 10px;

    position: absolute;
}
header#header-page #logo-header img{
    z-index: 1;
}

/* MAIN STYLE */
/* main{
    transition: 0.7s all;
} */


/* SECTION CATEGORIA STYLE */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;


    padding-block: 1rem;
    transition: 0.7s all;
}
section header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 2rem;
}
section header h2{
    color: var(--text-color);

    font-family: var(--title-section-montserrat);
    font-weight: bold;
    font-size: 20px;
}
section header p{
    color: var(--text-color);

    font-family: var(--menu-item-montserrat);
    font-weight: 200;
    font-size: 10px;
}

/**/

section .category{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

section .category nav{
    width: calc(124*4px);
    display: flex;
    justify-content: space-around;

    padding-block: 0.5rem;
}
section .category nav button{
    width: 110px;
    height: 1.5rem;

    border-radius: 12.5px;
    background-color: var(--back-card-color);
    color: var(--text-color);

    transition: 0.5s all;
}

/**/

section .articles{
  display: grid;
  grid-template-areas: 
  "article1 article2"
  "article1 article3"
  "article4 article5"
  "article6 article6"
  ;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
}
section .articles article{
    background-color: var(--back-card-color);
    color: var(--text-color);

    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 14px;
}
section .articles article#article-1{
    grid-area: article1;
}
section .articles article#article-2{
    grid-area: article2;
}
section .articles article#article-3{
    grid-area: article3;
}
section .articles article#article-4{
    grid-area: article4;
}
section .articles article#article-5{
    grid-area: article5;
}
section .articles article#article-6{
    grid-area: article6;
}

section .articles article h3{
    font-family: var(--title-article-montserrat);
    font-size: 15px;
    font-weight: 400;
}
section .articles article p{
    font-family: var(--content-article-montserrat);
    font-size: 12px;
    text-align: justify;
}






/* css slider */

.container-slider {
    display: flex;

    margin-top: 0.5rem;

    width: 100%;
    height: 232px;
    align-items: center;
    justify-content: center;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100%;

  }
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;

  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button {
    z-index: 1;
    width: 100px;
    cursor: pointer;

    margin-inline: 0.5rem;
  }
  
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #next-button {
    transform: rotate(180deg);
  }
