*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Variáveis de font-size, font-family, color e back-color */

:root{
    /* colors */

    --back-color-default: #151515;
    --secondary-color-gold: #DBC96C;
    --text-color: #ffffff;
    --color-footer: #D9D9D9;
    --color-text-footer: #000000;
    --back-card-color: #212121;
    --color-elipse: #272727;

    /* fonts */

    --title-page-dm-serif: 'DM Serif Display', serif;
    --subtitle-page-dm-serif: 'DM Serif Display', serif;
    --menu-item-dm-serif:'DM Serif Display', serif;
    --title-section-montserrat: 'Montserrat', sans-serif;
    --title-article-montserrat: 'Montserrat', sans-serif;
    --subtitle-page-montserrat: 'Montserrat', sans-serif;
    --menu-item-montserrat: 'Montserrat', sans-serif;
    --content-article-montserrat:'Montserrat', sans-serif;
    --content-menu-montserrat: 'Montserrat', sans-serif;
}

/* DEFAULT STYLE */

body{
    background-color: var(--back-color-default);
}
button{
    background: none;
    border: none;
}

.hidden{
    transition: 0.7s all;
}

/* menu style */

nav#nav-general{
    width: 0;
    height: 0;

    transition: 0.7s all;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav#nav-general .header-nav-menu{
    padding-block: 2rem;
}
nav#nav-general .content-menu{
    display: flex;
    flex-direction: column;

}
nav#nav-general .content-menu a{
    background-color: var(--back-card-color);
    color: var(--text-color);

    text-decoration: none;
    font-family: var(--content-menu-montserrat);
    font-size: 32px;
    font-weight: 300;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    margin-bottom: 1.5rem;
    width: 85vw;
    height: 150px;

    /* transition: 1s all; */
}

/* CSS HEADER */

header#header-page{
    background-image: url(../assets/sobre-nos/fundo-sobre-nos.png);
}

header#header-page .header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10vw;
    height: 12vh;
    
    transition: 0.7s all;
}
header#header-page .header-main{
    
    height: 76vh;

    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.7s all;
}
header#header-page .header-main .texts{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header#header-page .header-main .texts .elipse{
    position: absolute;

    z-index: 0;

    width: 12rem;
    height: 12rem;
    border-radius: 120px;
    background-color: var(--color-elipse);
}
header#header-page .header-main h1{
    overflow-y: hidden;

    font-family: var(--title-page-dm-serif);
    font-size: 96px;
    line-height: 6rem;
    font-weight: lighter;

    z-index: 1;
}
header#header-page .header-main h2{
    color: var(--secondary-color-gold);
    z-index: 1;
}
header#header-page .header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 10vw;
    height: 12vh;

    transition: 0.7s all;
}

/* CCS MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main header{
    display: flex;
    align-items: center;
    justify-content: center;
}
main header h3{
    font-family: var(--title-page-dm-serif);
    font-size: 40px;
    font-weight: lighter;

    color: var(--text-color);
    background-color: var(--back-color-default);
    padding: 1rem;
}
main header svg#linha-1{
    position: absolute;
    width: 100vw;

    z-index: -1;
}
main .card{
    background-color: var(--back-card-color);
    text-align: center;

    width: 80vw;
    padding: 3rem;
    border-radius: 10px;


}
main .card p{
    color: var(--text-color);

    font-family: var(--content-menu-montserrat);
    font-size: 15px;

    margin-bottom: 0.7rem;
}
main svg#linha-2{
    position: relative;
    margin-top: 6vh;
    margin-bottom: 10vh;
}

/* CSS FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: -5px;

    height: 136px;

    font-family: var(--subtitle-page-dm-serif);
    background-color: var(--color-footer);
    color: var(--color-text-footer);
}
footer h2{
    font-size: 40px;
    font-weight: lighter;
}
footer h3{
    font-size: 20px;
    font-weight: lighter;
}